/backend/node_modules/
/frontend/node_modules/

/backend/.env.dev
/frontend/.env.dev
/frontend/.env
/.claude
browser-profiles/

/docs
/claude history

browser-profiles/

/man_power/*
backend/.env
backend/.env
